{
  "login_password": "YOUR_HOMEPAGE_PASSWORD",
  "default_exchange": "binance",
  "exchanges": {
    "binance": {
      "api_key": "YOUR_BINANCE_API_KEY",
      "secret_key": "YOUR_BINANCE_SECRET_KEY"
    },
    "binance_testnet": {
      "api_key": "YOUR_BINANCE_TESTNET_API_KEY",
      "secret_key": "YOUR_BINANCE_TESTNET_SECRET_KEY"
    },
    "bithumb": {
      "api_key": "YOUR_BITHUMB_API_KEY",
      "secret_key": "YOUR_BITHUMB_SECRET_KEY"
    },
    "bithumb-v2": {
      "api_key": "YOUR_BITHUMB-V2_API_KEY",
      "secret_key": "YOUR_BITHUMB-V2_SECRET_KEY"
    },
    "upbit": {
      "api_key": "YOUR_UPBIT_API_KEY",
      "secret_key": "YOUR_UPBIT_SECRET_KEY"
    }
  }
}
